# متغيرات البيئة - انسخها في Railway
TELEGRAM_BOT_TOKEN=توكن_البوت
GOOGLE_API_KEY=مفتاح_جوجل
ADMIN_ID=معرفك
BOT_USERNAME=اسم_البوت_بدون_@
LEONARDO_API_KEY=مفتاح_ليوناردو
CHANNEL_USERNAME=اسم_القناة_بدون_@
CHANNEL_LINK=رابط_القناة
CHANNEL_USERNAME2=اسم_القناة2_بدون_@
CHANNEL_LINK2=رابط_القناة2
WEBHOOK_SECRET=tamtam2026

# Upstash Redis (مجاني)
UPSTASH_REDIS_REST_URL=رابط_Redis
UPSTASH_REDIS_REST_TOKEN=توكن_Redis
